body{
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
            transform: scale(0.9);
}

.container {
    margin-top: 1%;
    width: 700px;

}

.jumbotron {
    margin: 0;
    padding-top: 30px;
    height: 280px;
    text-align: center;
    color: white;
}

hr {
    color: #fff;
    border-top: 1px #fff solid;
}

.jumbotron .container {
    padding: 0;
    margin-top: 0;
}


.second-cont {
    width: 420px;
    margin-left: 20%;
}

label {
    padding-top: 3%;
}

ul {
    list-style-type: none;
}

li strong {
    font-family: 'Kurb';
    font-weight: 600;
}

li span {
    font-family: 'Kurb';
}



/* input:not([type=submit]) {
    width: 200px;
} */

select {
    width: 206px;
}
